body {
    color: #060606;
    background: rgb(183, 96, 191);
    margin: 0px;
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: solid 2px rgb(4, 4, 4);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 3, 3);
}

.chamada {
    background: rgb(100, 98, 98);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}